
:root {
    --background-color: rgb(83, 83, 83);
    --text-color: aliceblue;
    --container-color: #636262;
    --progress-color: rgb(26, 222, 26);
}
body{
    background: linear-gradient(to bottom right, #FF5F6D, #FFC371);
    color: var(--text-color);
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0;
    height: 100vh;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
#container{
    width: 70%;
    height: auto;
    max-width: 650PX;
    background: linear-gradient(135deg, #00C6FF, #0072FF);
    padding: 3rem;
    border-radius: 1rem;
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.3);
}
.input{
    display: flex;
    justify-content: space-evenly;
}
.input input{
    height: 2rem;
    margin-top: 1.8rem;
    padding: 0.1rem 0.3rem;
    border: none;
    outline: none;
    border-radius: 0.3rem;
}
.input button{
    height: 2rem;
    margin-top: 1.8rem;
    border: none;
    outline: none;
    padding: 0 1rem;
    border-radius: 0.5rem;
    font-size: 1rem;
    margin-left: -1rem;
}
.input button:hover{
    background-color: #3ECA72;
}
h1{
   text-align: center;
   padding-bottom: 1rem;
   margin-bottom: 0.8rem;
   font-size: 2.2rem;  
}
#countdown{
    display: flex;
    flex-direction: row;
    gap: 1.5rem;
    justify-content: center;
}
#countdown div{
    height: 2rem;
    width: 4rem;
    border-radius: 0.5rem;
    background: linear-gradient(135deg, #B9FBC0, #3ECA72);
    padding: 1rem;
    font-size: 1.2rem;
    color: blue;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
#countdown div:hover {
    background-color: rgb(180, 185, 190);
    transform: scale(1.05);
    transition: transform 0.2s;
}
.container span{
    font-size: 1.5rem;
}
h2{
    padding-bottom: 0.4rem;
}
.progress-container{
    height: 0.8rem;
    width: 100%;
    background-color: aliceblue;
    border-radius: 2rem;
    overflow: hidden;
}
#progress-bar{
    height: 100%;
    width: 0%;
    background: linear-gradient(to right, #FFB75E, #ED8F03);
    transition: width 1s ease-in-out;
    border-radius: 2rem;
}